<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
      body {
        padding: none;
        font-family: 'Yantramanav', sans-serif;
        background: #f2f2f2;
      }
      form {
        background: white;
        padding: 20px;
        width: 70%;
        margin: 0 auto;
        font-size: 30px;
      }
      input {
        font-size: 30px;
        width: 100%;
      }
      #title {
        color: #A12F27;
        text-align: center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <div id="title">{{ title }}</div>
    <form method="POST">
      {% for field in form %} {% if field.type in ['CSRFTokenField',
      'HiddenField'] %} {{ field() }} {% else %}
      <div class="form-group {% if field.errors %}error{% endif %}">
        {% if field.type != 'SubmitField' %} {{ field.label }} {% endif %}
        <div class="input">
          {% if field.name == "body" %} {{ field(rows=10, cols=40) }} {% else %}
          {{ field() }} {% endif %} {% if field.errors or field.help_text %}
          <span class="help-inline">
            {% if field.errors %} {{ field.errors|join(' ') }} {% else %} {{
            field.help_text }} {% endif %}
          </span>
          {% endif %}
        </div><br>
      </div>
      {% endif %} {% endfor %}
      <input id="submit" name="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
