<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
    body {
      background: #f2f2f2;
      padding: none;
      font-family: 'Yantramanav', sans-serif;
    }
    .tabulator {
      border: none;
    }
    #title {
        color: #A12F27;
        text-align: center;
        font-size: 50px;
      }
  </style>
  <script>
  
    var tableData = {{ data |safe }}
    $(document).ready(function() {
      var table = new Tabulator("#table", {
        height: '100%', 
        data: tableData,
        placeholder: "No {{ title }}",
        layout: "fitColumns",
        columns: {{ columns |safe }},
        rowClick: (e, row) => { 
          window.open(row.getData().url, '_blank');
        },
      });
    });

  </script>
</head>
<body>
  <div id="title">{{ title }}</div>
  <div id="table"></div>
</body>